<h1 class="pt-5"><%= @cocktail.name %></h1>
cocktail

<h3>Ingredient</h3>

<% @cocktail.doses.each do |dose| %>
<p><%= dose.description %> | <%= dose.ingredient.name %> <%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }  %></p>
<% end %>

<%= render 'doses/form', dose: @dose %>

<%= link_to 'Back', cocktails_path %>

